<div id="rec87215375" class="r t-rec t-rec_pt_60 t-rec_pb_45" style="padding-top:60px;padding-bottom:45px;background-color:#fcfbf7; " data-record-type="478" data-bg-color="#fcfbf7">

    <!-- T478 -->
    <div style="width: 0; height: 0; overflow: hidden;">
        <div class="t478__sizer t-col t-col_6" data-auto-correct-mobile-width="false" style="height:560px;"></div>
    </div>

    <div class="t478">
        <div class="t-container">
            <div class="t478__top t-col t-col_6 ">
                <div class="t478__textwrapper t-align_left" style="height:560px;">
                    <div class="t478__content t-valign_middle">
                        <div class="t478__box">
                            <div class="t478__title t-title t-title_xs " field="title" style="">О нас<br /></div>                                    <div class="t478__descr t-descr t-descr_md " field="descr" style="max-width:500px;">«Бюро Бьюти». Это студия красоты в новом формате с акцентом на маникюр и моделирование бровей. Здесь за чашечкой кофе клиенткам предлагают полный спектр услуг от профессиональных мастеров. Интерьер студии простой и лаконичный: много света, скандинавский стиль и большие панорамные окна. Бьюти-пространство выполнено в контрастных черно-белых тонах. В такой обстановке клиентам предлагают сделать маникюр, педикюр, окрашивание бровей,наращивание ресниц или другие бьюти-процедуры.</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="t-col t-col_6 ">
                <div class="t478__blockimg t-bgimg" data-original="https://static.tildacdn.com/tild3530-3936-4636-a263-616133633265/photo_2019-02-10_20-.jpg" bgimgfield="img" style="background-image:url('https://static.tildacdn.com/tild3530-3936-4636-a263-616133633265/photo_2019-02-10_20-.jpg'); height:560px;"></div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
            $(window).resize(function () {
                if (typeof window.noAdaptive != "undefined" && window.noAdaptive == true && $isMobile) { return; }
                t478_setHeight('87215375');
            });
            $(document).ready(function () {
                t478_setHeight('87215375');

            });
            $('.t478').bind('displayChanged', function () {
                t478_setHeight('87215375');
            });
        </script>
</div>