<div id="rec87336157" class="r t-rec t-rec_pt_90 t-rec_pb_90" style="padding-top:90px;padding-bottom:90px; " data-record-type="412">
    <!-- T412 -->

    <div class="t412">
        <div class="t-container">
            <div class="t412__col t-col t-col_4 t412__col">
                <div class="t412__content" style="border-color: #000000;border-width: 2px;">
                    <div class="t412__wrapper">
                        <img class="t412__img t412__img_circle t-img" src="/images/WhatsApp Image 2018-01-14 at 20.56.44.jpeg" data-tu-max-width="300" data-tu-max-height="300" alt="" style="" imgfield="img" />              <div class="t412__title t-name t-name_xl" style="" field="title">Безопасность</div>
                        <div class="t412__descr t-text" style="" field="descr"><div style="text-align:left;" data-customstyle="yes"><ul>
                            
                            Этапы стерилизации инструмента: 
                            <li> 1-й этап: Погружаем инструмент в раствор Инкрасепт на 15 минут</li>               
                           <li> 2-й этап: Помещаем инструмент в ультразвуковую мойку 2 раза по 480 секунд </li>                                              <li> 3-й этап: Промываем инструмент под проточной водой со щеткой</li>
                            <li>4-й этап: Кладем инструмент в дистилированную воду</li>
                            <li>5-й этап: Выкладываем инструмент на салфетку и даем просохнуть 30 минут</li>
                            <li> 6-й этап: Помещаем инструмент в крафт пакет и отправляем его в сухожаровой шкафна 60 минут при 180 градусов</li>
                             

                        </ul></div></div>
                    </div>
                </div>
            </div>
            <div class="t412__col t-col t-col_4 t412__col">
                <div class="t412__content" style="border-color: #000000;border-width: 2px;">
                    <div class="t412__wrapper">
                        <img class="t412__img t412__img_circle t-img" src="/images/WhatsApp Image 2018-01-14 at 20.56.44.jpeg" data-tu-max-width="300" data-tu-max-height="300" alt="" style="" imgfield="img2" />              <div class="t412__title t-name t-name_xl" style="left" field="title2">Качественные материалы<br /></div>
                        <div class="t412__descr t-text" @*style="text-align:left;*@" field="descr2">
                            <li>Gloss</li>
                            <li>Luxio </li>
                            <li>Diva</li>                                  
                            <li>Linto</li>
                            <li>Mistique</li>
                            <br/><br />
                         </div>
                    </div>
                </div>
            </div>
            <div class="t412__col t-col t-col_4 t412__col">
                <div class="t412__content" style="border-color: #000000;border-width: 2px;">
                    <div class="t412__wrapper">
                        <img class="t412__img t412__img_circle t-img" src="/images/WhatsApp Image 2018-01-14 at 20.56.44.jpeg" data-tu-max-width="300" data-tu-max-height="300" alt="" style="" imgfield="img3" />              <div class="t412__title t-name t-name_xl" style="" field="title3">Атмосфера</div>
                        <div class="t412__descr t-text" style="" field="descr3">
                            Интерьер студии простой и лаконичный: много света, скандинавский стиль и большие панорамные окна. Бьюти-пространство выполнено в контрастных черно-белых тонах.<br />
                            <br />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            t412_unifyHeights('87336157');
            setTimeout(function () {
                t412_unifyHeights('87336157');
            }, 500);
        });

        $('.t412').bind('displayChanged', function () {
            t412_unifyHeights('87336157');
        });

        $(window).resize(function () {
            t412_unifyHeights('87336157');
        });

        $(window).load(function () {
            t412_unifyHeights('87336157');
        });
    </script>
</div>