<div id="rec87215371" class="r t-rec" style=" " data-record-type="215">
    <a name="photos" style="font-size:0;"></a>
</div>

<div id="rec87215372" class="r t-rec" style=" " data-record-type="279">
    <!-- t251 -->

    <div class="t251">
        <div class="t251__wrapper t251__direction_left">
            <div class="t251__col t251__col_left">
                <div class="t251__block" itemscope itemtype="http://schema.org/ImageObject">
                    <meta itemprop="image" content="/images/51135414_2643569662350577_6643536790388152507_n.jpg">        <div class="t251__bg t-bgimg" data-zoomable="yes" data-img-zoom-url="/images/51135414_2643569662350577_6643536790388152507_n.jpg" bgimgfield="img" data-original="/images/51135414_2643569662350577_6643536790388152507_n.jpg" style="background-image: url('/images/51135414_2643569662350577_6643536790388152507_n.jpg')"></div>
                </div>
            </div>
            <div class="t251__col t251__col_right">
                <div class="t251__block t251__block_small" itemscope itemtype="http://schema.org/ImageObject">
                    <meta itemprop="image" content="/images/43241123_337618520149193_6912501582199932065_n.jpg">        <div class="t251__bg t251__bg_small t-bgimg" data-zoomable="yes" data-img-zoom-url="/images/43241123_337618520149193_6912501582199932065_n.jpg" bgimgfield="img1" data-original="/images/43241123_337618520149193_6912501582199932065_n.jpg" style="background-image: url('/images/43241123_337618520149193_6912501582199932065_n.jpg')"></div>
                </div>
                <div class="t251__block t251__block_small" itemscope itemtype="http://schema.org/ImageObject">
                    <meta itemprop="image" content="/images/46390554_232757400771666_8363624353957603370_n.jpg">        <div class="t251__bg t251__bg_small t-bgimg" data-zoomable="yes" data-img-zoom-url="/images/46390554_232757400771666_8363624353957603370_n.jpg" bgimgfield="img2" data-original="/images/46390554_232757400771666_8363624353957603370_n.jpg" style="background-image: url('/images/46390554_232757400771666_8363624353957603370_n.jpg')"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="rec87215373" class="r t-rec" style=" " data-record-type="160">
    <!-- T148 -->
    <!-- cover -->

    <div class="t-cover" id="recorddiv87215373" bgimgfield="img" style="height:80vh; background-image:-webkit-linear-gradient(top, #ccc, #777); background-image:-moz-linear-gradient(top, #ccc, #777); background-image:-o-linear-gradient(top, #ccc, #777); background-image:-ms-linear-gradient(top, #ccc, #777); background-image:linear-gradient(top, #ccc, #777); ">

        <div class="t-cover__carrier" id="coverCarry87215373" data-content-cover-id="87215373" data-content-cover-bg="/images/35520448_416098162206735_897118659820912640_n.jpg" data-content-cover-height="80vh" data-content-cover-parallax="" style="background-image:url('/images/35520448_416098162206735_897118659820912640_n.jpg');height:80vh;background-attachment:scroll; "></div>

        <div class="t-cover__filter" style="height:80vh;background-image: -moz-linear-gradient(top, rgba(0,0,0,0.0), rgba(0,0,0,0.0));background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.0), rgba(0,0,0,0.0));background-image: -o-linear-gradient(top, rgba(0,0,0,0.0), rgba(0,0,0,0.0));background-image: -ms-linear-gradient(top, rgba(0,0,0,0.0), rgba(0,0,0,0.0));background-image: linear-gradient(top, rgba(0,0,0,0.0), rgba(0,0,0,0.0));filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#fe000000', endColorstr='#fe000000');"></div>

        <div class="t148">
            <div class="t-container_100">
                <div class="t-cover__wrapper t-valign_bottom" style="height:80vh;">
                </div>
            </div>
        </div>
    </div>
</div>
