<div id="rec87215379" class="r t-rec t-rec_pt_0 t-rec_pb_0" style="padding-top:0px;padding-bottom:0px; " data-animationappear="off" data-record-type="125">
    <!-- T117 -->
    <div class="t117">
        <div class="t-width t-width_100 t-margin_auto">
            <div class="t117_map">
                <div class="t-map" id="separateMap87215379" data-map-language="" data-map-x="55.751979" data-map-y="37.617499" data-map-zoom="14" data-map-title="Moscow" style="width:100%; height:365px;"
                     data-map-style='[{"featureType":"all","elementType":"labels.text.fill","stylers":[{"saturation":36},{"color":"#000000"},{"lightness":40}]},{"featureType":"all","elementType":"labels.text.stroke","stylers":[{"visibility":"on"},{"color":"#000000"},{"lightness":16}]},{"featureType":"all","elementType":"labels.icon","stylers":[{"visibility":"off"}]},{"featureType":"administrative","elementType":"geometry.fill","stylers":[{"color":"#000000"},{"lightness":20}]},{"featureType":"administrative","elementType":"geometry.stroke","stylers":[{"color":"#000000"},{"lightness":17},{"weight":1.2}]},{"featureType":"landscape","elementType":"geometry","stylers":[{"color":"#000000"},{"lightness":20}]},{"featureType":"poi","elementType":"geometry","stylers":[{"color":"#000000"},{"lightness":21}]},{"featureType":"road.highway","elementType":"geometry.fill","stylers":[{"color":"#000000"},{"lightness":17}]},{"featureType":"road.highway","elementType":"geometry.stroke","stylers":[{"color":"#000000"},{"lightness":29},{"weight":0.2}]},{"featureType":"road.arterial","elementType":"geometry","stylers":[{"color":"#000000"},{"lightness":18}]},{"featureType":"road.local","elementType":"geometry","stylers":[{"color":"#000000"},{"lightness":16}]},{"featureType":"transit","elementType":"geometry","stylers":[{"color":"#000000"},{"lightness":19}]},{"featureType":"water","elementType":"geometry","stylers":[{"color":"#000000"},{"lightness":17}]}]'></div>

                <script type="text/javascript">
                    var arMapMarkers87215379 = [
                        {
                            title: "Минск",
                            descr: "",
                            lat: "53.93281245474775",
                            lng: "27.65491760439204",
                        },
                    ];

                    $(document).ready(function () {
                        t_appendGoogleMap("87215379", "");
                    });
                </script>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        var fireRefreshEventOnWindow = function () {
            var evt = document.createEvent("HTMLEvents");
            evt.initEvent('resize', true, false);
            window.dispatchEvent(evt);
        };
        $('.t117').bind('displayChanged', function () {
            fireRefreshEventOnWindow();
        });
    </script>
</div>