<div id="rec87215374" class="r t-rec t-rec_pt_45 t-rec_pb_30" style="padding-top:45px;padding-bottom:30px; " data-record-type="65">
    <!-- T056 -->
    <div class="t056">
        <div class="t-container t-align_center">
            <div class="t-col t-col_6 t-prefix_3">
                <div class="t056__title t-name t-name_xl" field="title" style=""><div style="font-family:'Georgia';" data-customstyle="yes">Следите за нами в <a href="https://www.instagram.com/buro_beauty_/" style="color:#804a0d !important;text-decoration: none;border-bottom: 2px solid #804a0d;box-shadow: inset 0px -1px 0px 0px #804a0d;-webkit-box-shadow: inset 0px -1px 0px 0px #804a0d;-moz-box-shadow: inset 0px -1px 0px 0px #804a0d;">Instagram</a></div></div>
            </div>
        </div>
    </div>
</div>