<div id="rec87215369" class="r t-rec" style=" " data-record-type="215">
        <a name="services"  style="font-size:0;"></a>
    </div>

<div id="rec87215370" class="r t-rec t-rec_pt_150 t-rec_pb_165" style="padding-top:12px;padding-bottom: 160px; " data-animationappear="off" data-record-type="792">
    <!-- T792 -->

    <div class="t792">
        <div class="t-section__container t-container">
            <div class="t-col t-col_12">
                <div class="t-section__topwrapper t-align_center">
                    <div class="t-section__title t-title t-title_xs" field="btitle"><div style="font-family:'Georgia';" data-customstyle="yes">Услуги:</div></div>
                </div>
            </div>
        </div>
        <div class="t-container">
            <div class="t-col t-col_8 t-prefix_2">
                <div class="t792__wrapper">
                    <div class="t792__uptitle t-uptitle t-uptitle_xs" field="li_uptitle__1508948289978" style="">1,5 -2 час.</div>
                    <div class="t792__text-wrapper t-valign_top">
                        <div class="t792__title t-heading t-heading_sm" field="li_title__1508948289978" style=""><div style="font-family:'Roboto';" data-customstyle="yes"><span style="font-weight: 100;">Комбинированный маникюр + покрытие гель-лаком</span></div></div>
                    </div>
                    <div class="t792__price-wrapper t-valign_top">
                        <div class="t792__price t-name t-name_lg" field="li_text__1508948289978" style=""><div style="font-family:'Georgia';" data-customstyle="yes">от 40 р.<br /></div></div>
                    </div>
                </div>
                <div class="t792__line" style="margin-top: 28px;   "></div>
            </div>
            <div class="t-clear t792__separator" style=""></div>
            <div class="t-col t-col_8 t-prefix_2">
                <div class="t792__wrapper">
                    <div class="t792__uptitle t-uptitle t-uptitle_xs" field="li_uptitle__1508947681730" style="">45 мин.</div>
                    <div class="t792__text-wrapper t-valign_top">
                        <div class="t792__title t-heading t-heading_sm" field="li_title__1508947681730" style=""><div style="font-family:'Roboto';" data-customstyle="yes"><span style="font-weight: 100;">Окрашивание бровей перманентной краской + коррекция</span></div></div>
                    </div>
                    <div class="t792__price-wrapper t-valign_top">
                        <div class="t792__price t-name t-name_lg" field="li_text__1508947681730" style=""><div style="font-family:'Georgia';" data-customstyle="yes">18 р.<br /></div></div>
                    </div>
                </div>
                <div class="t792__line" style="margin-top: 28px;   "></div>
            </div>
            <div class="t-clear t792__separator" style=""></div>
            <div class="t-col t-col_8 t-prefix_2">
                <div class="t792__wrapper">
                    <div class="t792__uptitle t-uptitle t-uptitle_xs" field="li_uptitle__1509034194686" style="">1 час.</div>
                    <div class="t792__text-wrapper t-valign_top">
                        <div class="t792__title t-heading t-heading_sm" field="li_title__1509034194686" style=""><div style="font-family:'Roboto';" data-customstyle="yes"><span style="font-weight: 100;">Аппаратный педикюр</span></div></div>
                    </div>
                    <div class="t792__price-wrapper t-valign_top">
                        <div class="t792__price t-name t-name_lg" field="li_text__1509034194686" style=""><div style="font-family:'Georgia';" data-customstyle="yes">от 35 р.</div></div>
                    </div>
                </div>
                <div class="t792__line" style="margin-top: 28px;   "></div>
            </div>
            <div class="t-clear t792__separator" style=""></div>
            <div class="t-col t-col_8 t-prefix_2">
                <div class="t792__wrapper">
                    <div class="t792__uptitle t-uptitle t-uptitle_xs" field="li_uptitle__1509034196828" style="">2 часа</div>
                    <div class="t792__text-wrapper t-valign_top">
                        <div class="t792__title t-heading t-heading_sm" field="li_title__1509034196828" style=""><div style="font-family:'Roboto';" data-customstyle="yes"><span style="font-weight: 100;">Наращивание ресниц</span></div></div>
                    </div>
                    <div class="t792__price-wrapper t-valign_top">
                        <div class="t792__price t-name t-name_lg" field="li_text__1509034196828" style=""><div style="font-family:'Georgia';" data-customstyle="yes">от 35 р.<br /></div></div>
                    </div>
                </div>
                <div class="t792__line" style="margin-top: 28px;   "></div>
            </div>
            <div class="t-clear t792__separator" style=""></div>
            <div class="t-col t-col_8 t-prefix_2">
                <div class="t792__wrapper">
                    <div class="t792__uptitle t-uptitle t-uptitle_xs" field="li_uptitle__1549869118395" style=""></div>
                    <div class="t792__text-wrapper t-valign_top">
                        <div class="t792__title t-heading t-heading_sm" field="li_title__1549869118395" style=""><div style="font-size:18px;" data-customstyle="yes">         <span style="font-weight: 300;">C актуальным прайс-листом Вы можете ознакомится на нашей страничке в </span><a href="https://www.instagram.com/buro_beauty_/" style=""><span style="font-weight: 300;">Instagram</span></a></div></div>
                    </div>

                    <div class="t792__price-wrapper t-valign_top">
                        <div class="t792__price t-name t-name_lg" field="li_text__1549869118395" style=""></div>
                    </div>
                </div>
                <div class="t792__line" style="margin-top: 28px;   "></div>
            </div>
        </div>
        <div class="t-section__container t-container">
            <div class="t-col t-col_12">
                <div class="t-section__bottomwrapper t-clear t-align_center ">
                    <a href="#contacts" target="" class="t-btn" style="color:#ffffff;background-color:#000000;border-radius:0px; -moz-border-radius:0px; -webkit-border-radius:0px;"><table style="width:100%; height:100%;"><tr><td>Записаться по телефону</td></tr></table></a>
                </div>
            </div>
        </div>
    </div>
</div>