@{
    ViewBag.Title = "Buro Beauty";
}
<h2>@ViewBag.Title.</h2>
@*<h3>@ViewBag.Message</h3>*@

<p> «Бюро Бьюти». Это студия красоты в новом формате с акцентом на маникюр и моделирование бровей. Здесь за чашечкой кофе клиенткам предлагают полный спектр услуг от профессиональных мастеров.

    Интерьер студии простой и лаконичный: много света, скандинавский стиль и большие панорамные окна. Бьюти-пространство выполнено в контрастных черно-белых тонах. В такой обстановке клиентам предлагают сделать маникюр, микроблейдинг, наращивание ресниц или другие бьюти-процедуры.

    Мастера нейл-сервиса в студии предлагают классический и аппаратный маникюр, в том числе и с долговременным покрытием и индивидуальным дизайном. В салоне также доступны наращивание и биозавивка, а также укрепляющие процедуры для ресниц — ботокс и ламинирование, окрашивание и коррекция формы бровей и микроблейдинг.

    В «Бюро Бьюти» дают гарантию стерильности инструментов. Многоразовые материалы проходят двухступенчатую систему обработки — дезинфекцию и стерилизацию в сухожаровом шкафу. Каждый комплект запечатывается в крафт-пакет, пилка и бафик в этом наборе всегда одноразовые.

    Салон предлагает карты постоянного клиента отдельно на маникюр и наращивание ресниц. Кроме того, есть сезонные спецпредложения и скидки.</p>
