@{
    ViewBag.Title = "Контакты";
}
<h2>@ViewBag.Title.</h2>
@*<h3>@ViewBag.Message</h3>*@

<address>
    ИП Иванновская Д.Д. <br />
    УНП: 192511510<br />
    Юридический адрес: ул. Ангарская 20-3-156<br />
    Свидетельство о регистрации от 27.07.2015
    Регистрирующий орган: Минским горисполкомом
    Зарегистрирован в Торговом реестре<br />
    Адрес салона: ул.Кирилла Туровского,6. ст.М. Восток <br />
    <abbr title="Phones:"></abbr>
    +37529 1110430<br />
    +37529 6591807<br />
</address>

<address>
    <strong>Emails:<br />
     </strong> <a href="mailto: dina.ivanovskaya@yandex.ru">dina.ivanovskaya@yandex.ru</a><br />
    <strong></strong> <a href="mailto: idivanovskaya@yandex.ru">idivanovskaya@yandex.ru</a>
</address>