@{
    ViewBag.Title = "Контакты";
}
<h2>@ViewBag.Title.</h2>
@*<h3>@ViewBag.Message</h3>*@

<address>
    <strong> ИП Иванновская Д.Д.</strong><br />
    УНП: 192511510<br />
    Юридический адрес: ул. Ангарская 20-3-156<br />
    Свидетельство о регистрации от 27.07.2015
    Регистрирующий орган: Минским горисполкомом
    Зарегистрирован в Торговом реестре<br />
    Адрес салона: ул.Кирилла Туровского,6. ст.М. Восток <br />
</address>
    <strong>Контактные телефоны:<br />
    +37529 1110430<br />
    +37529 6591807<br />
    <strong>Email:<br />
     </strong> <a href="mailto: burobeauty@gmail.com">burobeauty@gmail.com</a><br />
</address>